<%- include('header') -%>
  <link rel="stylesheet" href="/static/css/err_styles.css">
  <!-- Error messages -->
  <div class="alert alert-danger" role="alert">
    <h3><i class="fas fa-exclamation-triangle"></i> Uh oh! Something went extremely wrong...</h3>
    <p><i class="fas fa-times"></i> <%= error_msg %></p>
    <hr>
    <a href="/"><i class="fas fa-home"></i> Go to Home Page</a>
  </div>
  <%- include('footer') -%>