<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Marios Yiannakou">
  <meta name="description" content="RaspberryPi Weather based Spotify Web-Player">
  <title>mario~ RaSpotify - Home</title>

  <!-- ***** STYLESHEETS ***** -->
  <!-- FontAwsome CDN -->
  <link rel="stylesheet" href="/static/fontawesome/css/all.css">
  <link rel="stylesheet" href="/static/fontawesome/css/fontawesome.css">
  <!-- BootStrap CDN -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <!-- Custom CSS Styles -->
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>