/* ELEMENTS */
body {
  background-color: #3e444a;
}

/* CLASSES */
.artist-url {
  padding: 0px 10px;
}

.current-track-thumbnail {
  border-radius: 50%;
  height: 256px;
  width: 256px;
}

.recent-track-thumbnail {
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

.recent-track-thumbnail-cell {
  text-align: center;
}

.spotify-information {
  font-size: 14pt;
}

.spotify-media-btn {
  display: inline;
  margin: 10px;
}

.spotify-player-header {
  color: #008a26;
  font-size: 45pt;
  margin: 0px;
  padding: 10px;
}

.spotify-recent-col {
  font-size: 14pt;
  text-align: center;
  width: 20%;
}

.table-col-3 {
  font-size: 20pt;
  width: 33%;
}

.track-thumbnail {
  border-radius: 50%;
  height: 128px;
  width: 128px;
}

.weather-header {
  color: #00a8a0;
  font-size: 45pt;
}
/* ID's */
#spotify-web-player {
  text-align: center;
}

#weather-table {
  text-align: center;
}